// BASE COLORS
$color-white: #FFF;
$color-white-2: #F7F9FC;
$color-black: #2d2d2d;
$color-grey-light: rgba(196, 196, 196, 0.5);
$color-grey: #424954;
$color-green-light: #84FAB0;
$color-green-light-2: #A4D541;
$color-green: #268812;
$color-green-dark: #09562A;
$color-blue-light: #8FD3F4;
$color-red: #FF4C4C;

// PRIMARY COLORS
$color-primary-default: #43E97B;
$color-primary-transparent: #38F9D7;

//ACTION COLORS
$color-action-default: #FF3D71;
$color-action-dark: #DB2C66;

// NEUTRAL COLORS
$color-neutral-400: #E4E9F2;
$color-neutral-500: #C5CEE0;
$color-neutral-700: #2E3A59;