.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 360px;
    height: 559px;


    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .__slot {
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 247px;
        height: 247px;
        top: 32px;

        background: $color-white-2;
        border: 4px solid #00D68F;
        border-radius: 100%;
        z-index: 1;
    }

    .__content {
        position: absolute;

        width: 100%;
        top: 153px;

        padding-top: 162px;

        background: $color-white-2;
        border-radius: 24px 24px 0px 0px;

        > h1 {
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            color: $color-neutral-700;
        }

        > article {
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin: 36px 24px;
        }

        .__status {

            > article {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;

                color: $color-neutral-700;

                > span {
                    font-weight: bold;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                > strong {
                    margin-top: 8px;
                    font-size: 18px;
                }
            }

            > div {
                width: 1px;
                height: 48px;

                background: $color-neutral-500;
            }
        }

        > fieldset {
            border-top: 1px solid $color-neutral-500;
            border-bottom: none;
            border-left: none;
            border-right: none;
            display: block;
            margin: 0 24px;
            text-align: center;

            > legend {
                padding: 10px 15px;

                font-weight: 600;
                font-size: 15px;
                text-transform: uppercase;
                color: $color-neutral-700;
            }
        }

        .__type {
            > span {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 99px;
                height: 32px;
                margin: 0 5.5px;
                border-radius: 42px;

                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                color: $color-white;
            }
        }

        .__skills {
            > span {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                color: $color-neutral-700;
            }
        }

        .__stats {
            display: block; 
            color: $color-neutral-700;

            > ul {
                list-style: none;

                > li {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;

                    > span {
                        font-weight: bold;
                        font-size: 12px;
                        text-transform: uppercase;

                        > img {
                            width: 16px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .__pokebola {
            width: 100%;
            margin: 0 auto;
            background: none;
            border: none;
            cursor: pointer;
        }

        .__liberate {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
    }
}