.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 360px;
    height: 559px;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .__slot {
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 247px;
        height: 247px;
        top: 32px;

        background: $color-white-2;
        border: 4px solid #00D68F;
        border-radius: 100%;
        z-index: 1;

        > img {
            padding-left: 10px;
        }
    }

    .__content {
        position: absolute;

        width: 100%;
        top: 153px;

        padding-top: 162px;

        background: $color-white-2;
        border-radius: 24px 24px 0px 0px;
        

        > form {

            .__group {
                position: relative;
                display: flex;
                flex-direction: column;

                margin: 16px 22px;

                > label {
                    font-weight: bold;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: $color-neutral-700;

                    margin-bottom: 6px;
                }

                > input {
                    border: 2px solid $color-neutral-400;
                    border-radius: 3px;

                    padding: 12px 0 12px 8px;

                    &::placeholder {
                        font-weight: 600;
                        font-size: 15px;
                        color: $color-neutral-500;
                    }
                }

                > span {
                    position: absolute;
                    right: 38px;
                    top: 31px;

                    font-weight: 600;
                    font-size: 15px;
                    color: $color-neutral-700;
                }

                .__btn {
                    position: absolute;
                    width: 24px;
                    height: 22px;

                    background: #EBECF0;
                    border: 2px solid $color-neutral-400;
                    border-radius: 0px 2px 0px 0px;
                    color: $color-neutral-700;
                }

                .__up {
                    top: 18px;
                    right: 1px;
                }

                .__down {
                    bottom: 0;
                    right: 1px;
                }
            }

            > fieldset {
                border-top: 1px solid $color-neutral-500;
                border-bottom: none;
                border-left: none;
                border-right: none;
                display: block;
                margin: 0 24px;
                text-align: center;
        
                > legend {
                    padding: 10px 15px;
        
                    font-weight: 600;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: $color-neutral-700;
                }
            }

            .__submit {
                display: flex;
                justify-content: center;

                margin: 15px 0;
            }
        }
    }
}