.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba($color-black, 0.5);

    &__content {
        background-color: $color-white;
        box-shadow: 0 0 1px rgba($color-black, 0.3), 0 4px 8px rgba($color-black, 0.25);
        border-radius: 3px;
        overflow: hidden;

        .__container {
            position: relative;
            background: linear-gradient(90deg, $color-primary-default 0%, $color-primary-transparent 100%);
    
            .__hide {
                width: 38px;
                height: 38px;
                position: absolute;
                right: 10px;
                top: 10px;
    
                background: $color-white-2;
                border: 2px solid #8F9BB3;
                border-radius: 100%;
    
                cursor: pointer;
                z-index: 2;
    
                > img {
                    margin-top: 2px;
                }
            }
        }
    }
}

.modal__close {
    display: none;
}