.sidebar {
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 12.8rem;
        font-size: 4rem;
        font-weight: bold;
        cursor: pointer;
        transition: all .2s;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:not(last-of-type) {
            margin-bottom: 1.6rem;
        }
    }

    .__empty {
        border: 0.4rem solid $color-green-dark;
        background-color: $color-green;
        color: $color-green-dark;

        &:hover {
            background-color: darken($color-green-dark, 0.5);
            color: $color-green;
        }
    }

    .__pokemon {
        border: 0.4rem solid $color-primary-default;
        background-color: $color-white-2;

        > img {
            width: 50px;
        }
    }

    .__create {
        border: 0.4rem solid $color-action-dark;
        background-color: $color-action-default;
        color: $color-white;
    }
}
