.home {
    background: linear-gradient(to right, $color-primary-default, $color-primary-transparent);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        margin-bottom: 60px;
    }

    a {
        border-radius: 50px;
        padding: 20px 31px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        
        background-color: $color-action-default;
        color: $color-white;
    }
}
