.map {
    position: relative;
    height: 100vh;
    background: url('../../images/pageBackground.png') center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    .__btnAsh {
        position: relative;

        background: none;
        border: none;
        cursor: pointer;

        .__loading {
            position: absolute;
            bottom: 65px;

            transition: bottom 0.3s ease;
        }
    }
}
