.button {
    padding: 16px 24px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;

    border: none;
    border-radius: 42px;
    background: $color-action-default;
    color: $color-white;

    cursor: pointer;
}
